<?xml version='1.0' encoding='utf-8'?>
<widget id="com.xmader.peersend" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>PeerSend</name>
    <description>
        PeerSend
    </description>
    <author href="https://github.com/Xmader">
        Xmader
    </author>
    <content src="index.html" />
    <icon src="www/icon.png" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="ws://*/*" />
    <allow-intent href="wss://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
            <application android:excludeFromRecents="true" android:largeHeap="true"></application>
        </edit-config>
        <edit-config file="AndroidManifest.xml" target="/manifest/application/activity" mode="merge">
            <activity android:excludeFromRecents="true"></activity>
        </edit-config>
        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <!-- 文字长按(选择)菜单 -->
            <intent-filter android:label="使用 PeerSend 加密/解密">
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <!-- 分享菜单 -->
            <intent-filter android:label="加密/解密文本">
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="message/rfc822" />
            </intent-filter>
        </config-file>
    </platform>
    <plugin name="com-darryncampbell-cordova-plugin-intent" spec="1.1.8" />
    <engine name="android" spec="^8.0.0" />
</widget>
